.workProcess {
  width: 100%;
  height: 110vh;
  background: {
    image: url("../images/Fourth/bg.png");
    position: center;
    size: cover;
    repeat: no-repeat;
  }
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  .img-absolute {
    width: 50%;
    height: 40%;
    position: absolute;
    bottom: -25vh;
    right: 10vw;
    z-index: 7;
  }
  .workProcessInnerContainer {
    width: 80%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    .top {
      width: 100%;
      height: 10%;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      .workProcess__aboutTeam__about {
        width: 100%;
        height: 10%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        span {
          &:first-of-type {
            margin-right: 1rem;
            color: teal;
            font : {
              size: 2rem;
            }
          }
        }
        span {
          font : {
            weight: bold;
          }
          &:nth-child(2) {
            font : {
              family: Montserrat-semi-bold;
              weight: bold;
              size: 2rem;
            }
          }
        }
      }
    }
    .bottomInnerItems {
      width: 100%;
      height: 89%;
      display: flex;
      flex-direction: column;
      align-content: center;
      .levelDescriptionContainer {
        width: 100%;
        height: 90%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .levelContainer {
          width: 30%;
          height: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: space-between;
          .level {
            width: 100%;
            height: max-content;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            z-index: 2;
            line-height: 28px;
            font : {
              family: "Montserrat";
              style: normal;
              weight: 700;
              size: 22px;
            }
            .levelNumber {
              position: absolute;
              width: 20%;
              height: max-content;
              left: 65%;
              display: flex;
              align-items: center;
              justify-content: center;
              color: #dddddd;
              z-index: -1;

              font : {
                size: 52px;
              }
            }
          }
          .part {
            width: 100%;
            height: 20%;
            .top {
              width: 100%;
              height: 15%;
              display: flex;
              align-items: center;
              justify-content: flex-start;
              .boxi {
                width: 5%;
                height: 100%;
                background-color: teal;
                display: flex;
                align-items: center;
                justify-content: center;
                .innerBox {
                  width: 50%;
                  height: 50%;
                  background-color: #fff;
                }
              }
              .content {
                font : {
                  weight: bold;
                  family: Montserrat-bold;
                }
                margin: {
                  left: 1rem;
                }
              }
            }
            .bottom {
              width: 100%;
              height: 82%;
              margin: {
                top: 3%;
              }
              border-left: 1px solid #ccc;
              box-sizing: border-box;
              padding: 0.3rem;
              padding: {
                left: 1rem;
              }
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: space-between;
              .tx {
                width: 100%;
                height: 25%;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                font : {
                  family: Montserrat;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 400px) {
  .workProcess {
    width: 100%;
    height: max-content;

    .img-absolute {
      display: none;
    }
    .workProcessInnerContainer {
      height: max-content;
      width: 100%;
      margin: {
        top: 40px;
      }
      .top {
        width: 100%;
        .workProcess__aboutTeam__about {
          width: 100%;
          height: max-content;
          span {
            &:nth-child(2) {
              font : {
                size: 20px;
              }
            }
          }
        }
      }
      .bottomInnerItems {
        width: 100%;
        height: max-content;
        .levelDescriptionContainer {
          width: 100% !important;
          height: max-content;
          flex-direction: column;
          align-items: center;
          justify-content: space-between;
          margin: {
            top: 40px;
          }
          .levelContainer {
            width: 100%;
            .level {
              width: calc(100% - 2rem);
              border: {
                bottom: 2px solid #dddddd;
              }
            }
            .part {
              width: 100%;
              height: max-content;
              margin-top: 1rem;
              box-sizing: border-box;
              padding: 1rem;
              .top {
                width: 100%;
                height: max-content;
                .boxi {
                  width: 1rem;
                  height: 1rem;
                }
                .content {
                  font-family: "Montserrat";
                  font-style: normal;
                  font-weight: 600;
                  font-size: 18px;
                  line-height: 24px;
                  color: #000;
                }
              }
              .bottom {
                width: 100%;
                height: max-content;
                .tx {
                  height: max-content;
                  position: relative;
                  color: #666666;
                  margin: {
                    top: 0.9rem;
                    left: 0.3rem;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
