.beforeFooter {
  width: 100%;
  height: 50vh;
  .offerForm {
    width: 870px;
    height: 337px;
    background-color: rgb(255, 255, 255);
    position: relative;
    z-index: 8;
    left: 21.5%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    box-shadow: 0px 0px 30px rgba(13, 107, 106, 0.2);
    box-sizing: border-box;
    .offerForm__offerHelper {
      width: 60%;
      height: 20%;
      display: flex;
      align-items: flex-start;
      position: relative;
      left: 5%;
      span {
        &:first-of-type {
          margin-right: 1rem;
          color: teal;
          font : {
            size: 2rem;
          }
        }
      }
      span {
        font : {
          weight: bold;
        }
        &:nth-child(2) {
          font : {
            family: Montserrat-semi-bold;
            weight: bold;
            size: 2rem;
          }
        }
      }
    }
    .inputContainer {
      width: 70%;
      height: 20%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      position: relative;
      left: 10%;
      input {
        width: 70%;
        height: 80%;
        border: 1px solid #dddddd;
      }
      button {
        width: 29%;
        height: 80%;
        color: #fff;
        background-color: #0d6b6a;
        line-height: 24px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        font : {
          family: "Montserrat";
          style: normal;
          weight: 400;
          size: 20px;
        }
      }
    }
  }
}

@media screen and (max-width: 400px) {
  .beforeFooter {
    width: 100%;
    height: max-content;
    position: relative;
    top: 2rem;
    .offerForm {
      width: 100%;
      height: 240px;
      position: relative;
      top: 5rem;
      left: 0;
      right: 0;
      bottom: 0;
      box-shadow: -10px 10px 50px rgba(13, 107, 106, 0.08) !important;
      .offerForm__offerHelper {
        width: 100%;
        span {
          &:nth-child(2) {
            font-family: "Montserrat";
            font-style: normal;
            font-weight: 700;
            font-size: 20px;
            line-height: 28px;
          }
        }
      }
      .inputContainer {
        width: 90%;
        height: max-content;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        left: 5%;
        right: 0;
        bottom: 0;
        input,
        button {
          width: 100%;
          height: 40px;
        }
        button {
          margin-top: 1rem;
        }
      }
    }
  }
}
