.customerCommentsContainerMaster {
  width: 100%;
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  .swiper-pg {
    width: 30%;
    height: 5vh;
    position: absolute !important;
    bottom: 0 !important;
    left: 60% !important;
    top: 3% !important;
    right: 0% !important;
    z-index: 40;
  }
  .btn-container {
    width: 5rem;
    height: 3rem;
    position: absolute;
    left: 20%;
    bottom: 2%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    button {
      width: calc(50% - 0.4rem);
      height: calc(100% - 0.4rem);
      background-color: teal;
      color: #fff;
      border: 1px solid #ffffff;
      &:nth-child(1) {
        background-color: #ccc !important;
        color: #000 !important;
      }
      font : {
        size: 2rem;
        weight: bold;
        family: Montserrat;
      }
    }
  }
  .mainContainer {
    width: 80%;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    .customerCommentsSlideContainer__aboutTeam__about {
      width: calc(100% - 12.5%);
      height: 10%;
      display: flex;
      align-items: center;
      span {
        &:first-of-type {
          margin-right: 1rem;
          color: teal;
          font : {
            size: 2rem;
          }
        }
      }
      span {
        font : {
          weight: bold;
        }
        &:nth-child(2) {
          font : {
            family: Montserrat-semi-bold;
            weight: bold;
            size: 2rem;
          }
        }
      }
    }
    .customers_comment {
      width: 80%;
      height: 70%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      &::selection {
        background-color: transparent;
      }
      .item {
        width: 25%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        box-shadow: 0px 0px 30px rgba(13, 107, 106, 0.2);
        box-sizing: border-box;
        padding: 1rem;
        transition: transform 0.3s ease;
        &::selection {
          background-color: transparent;
        }
        .swiper-slide {
          width: 23% !important;
        }
        &:hover {
          transform: scale(1.1);
        }
        .top {
          width: 100%;
          height: 40%;
          display: flex;
          align-items: center;
          justify-content: space-between;
          .left {
            width: 25%;
            height: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            img {
              width: 100%;
              height: 100%;
              border-radius: 50%;
              display: flex;
              align-items: center;
              justify-content: center;
            }
          }
          .right {
            width: 60%;
            height: 50%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            .name {
              width: 100%;
              height: 50%;
              display: flex;
              align-items: center;
              justify-content: flex-start;
              font : {
                size: 1.2rem;
              }
              &::selection {
                background-color: transparent;
              }
            }
            .groupName {
              width: 100%;
              height: 10%;
              display: flex;
              align-items: center;
              justify-content: flex-start;
              font : {
                size: 1.2rem;
              }
              &::selection {
                background-color: transparent;
              }
            }
          }
        }
        .bottom {
          width: 100%;
          height: 50%;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          position: relative;
          .text {
            width: 100%;
            height: 100%;
          }
          .stars {
            cursor: pointer;
            display: flex;
            position: absolute;
            bottom: 0.5rem;
            left: 0%;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 400px) {
  .customerCommentsContainerMaster {
    width: 100%;
    height: 418px;
    margin: {
      top: 3rem;
    }
    .btn-container {
      width: 30%;
      bottom: 0;
      left: 35%;
      z-index: 66;
      button {
        width: 40px;
        height: 40px;
        font : {
          size: 1.5rem;
          weight: 500;
        }
      }
    }
    .mainContainer {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: start !important;

      .customerCommentsSlideContainer__aboutTeam__about {
        width: 100%;
        height: 56px;
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 700;
        span {
          font-size: 20px !important;
        }
        line-height: 28px;
      }
      .customers_comment {
        width: 100%;
        height: 250px;
        .item {
          width: 100%;
          height: 100%;
          margin-top: 2rem;
          .top {
            .left {
              width: 30%;
              img {
                width: 50%;
                height: 100%;
              }
            }
          }
        }
      }
    }
  }
}
