@font-face {
  font-family: Montserrat;
  src: url("../fonts/Montserrat-Regular.ttf");
}
@font-face {
  font-family: Montserrat-semi-bold;
  src: url("../fonts/Montserrat-SemiBold.ttf");
}
@font-face {
  font-family: Montserrat-bold;
  src: url("../fonts/Montserrat-Bold.ttf");
}
* {
  padding: 0;
  margin: 0;
  outline: 0;
  border: 0;
  a {
    color: #000;
    &:hover,
    &:active,
    &:visited {
      color: #000;
    }
    text : {
      decoration: none;
    }
  }
}

body {
  box-sizing: border-box;
  padding: 1rem;
}
