footer {
  width: 100%;
  height: 50vh;
  background-color: #0d6b6a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

footer .line {
  width: 99%;
  height: 50%;
  top: 5vh;
  position: absolute;
}

footer .footer__top {
  width: 100%;
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 5vh;
}

footer .footer__top h1 {
  color: #fff;
  font-size: 28px;
  font-family: Montserrat;
}

footer .footer__top p {
  width: 770px;
  height: 40px;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  text-align: justify;
  color: #dddddd;
  font-family: Montserrat;
}

footer .footer__top .top__iconsContainer {
  width: 10%;
  height: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .footer__top a {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .footer__bottom {
  width: 100%;
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .footer__bottom .linksContainer {
  width: 50%;
  height: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .footer__bottom .linksContainer .line {
  display: none;
}

footer .footer__bottom .linksContainer a {
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
  font-family: Montserrat;
  font-style: normal;
  line-height: 20px;
}

footer .footer__bottom .contactsInfo {
  width: 50%;
  height: 10rem;
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-left: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .footer__bottom .contactsInfo .contactItem__container {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

footer .footer__bottom .contactsInfo .contactItem__container .contactItem {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

footer .footer__bottom .contactsInfo .contactItem__container .contactItem img {
  width: 20px;
  height: 20px;
  margin-right: 1rem;
}

footer .footer__bottom .contactsInfo .contactItem__container .contactItem .about {
  width: 50%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen {
  footer {
    width: 100%;
    height: -webkit-max-content !important;
    height: -moz-max-content !important;
    height: max-content !important;
    position: relative;
    top: 10rem;
  }
  footer .line {
    width: 100%;
    height: 50px;
    top: 1%;
  }
  footer .footer__top {
    width: 100%;
    height: -webkit-max-content !important;
    height: -moz-max-content !important;
    height: max-content !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer .footer__top p {
    width: 80%;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
  }
  footer .footer__top .top__iconsContainer {
    width: 80%;
    height: 48px;
    margin-top: 2rem;
  }
  footer .footer__top .top__iconsContainer a {
    width: 48px !important;
    height: 48px !important;
  }
  footer .footer__bottom {
    width: 100%;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  footer .footer__bottom .linksContainer {
    width: 100%;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 3rem;
  }
  footer .footer__bottom .linksContainer a {
    height: 40px;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 40px;
    margin-top: 28px;
  }
  footer .footer__bottom .contactsInfo {
    width: 100%;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-left: 0;
    position: relative;
  }
  footer .footer__bottom .contactsInfo .liney {
    position: absolute;
    width: 100%;
    height: 50px;
    top: 8%;
    z-index: 888;
  }
  footer .footer__bottom .contactsInfo .contactItem__container {
    width: 100%;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  footer .footer__bottom .contactsInfo .contactItem__container .contactItem {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: relative;
    margin-top: 5rem;
  }
  footer .footer__bottom .contactsInfo .contactItem__container .contactItem img {
    width: 3.2rem;
    height: 3.2rem;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 0.8rem;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.2);
  }
  footer .footer__bottom .contactsInfo .contactItem__container .contactItem .about {
    width: 100%;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
  }
  footer .footer__bottom .contactsInfo .contactItem__container .contactItem .about p:nth-child(1) {
    color: #dddddd;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 20px;
  }
  footer .footer__bottom .contactsInfo .contactItem__container .contactItem .about p:nth-child(2) {
    color: #ffffff;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 20px;
  }
}
/*# sourceMappingURL=footer.css.map */