.landing {
  width: 100%;
  height: 70vh;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;

  background : {
    image: url("../images/landing-section/bg.png");
    position: center;
    size: cover;
    repeat: no-repeat;
  }

  .landing__navBar {
    width: 70vw;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    top: 1vh;
    .header__logo {
      width: 10%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-start;
    }
    .hamburgerMenu {
      width: 1rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      line-height: 0.3;
    }
    .header__items {
      width: 70%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .header__items__links {
        width: 70%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
      .btn {
        width: 20%;
        height: 70%;
        background-color: teal;
        color: #fff;
      }
    }
  }
  .loadigContainer {
    width: 70%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    .landing__contents {
      width: 45%;
      height: 80%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-between;
      .loading__contents__bigText {
        width: 50%;
        height: 50%;
        text-align: justify;
        font : {
          size: 4rem;
        }
      }
      .loading__contents__text {
        width: 75%;
        height: max-content;
        text-align: left;
        color: #666666;
        font : {
          size: 18px;
          weight: 500;
        }
      }
      .btn {
        width: 229px;
        height: 46px;
        background-color: teal;
        color: #fff;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        box-sizing: border-box;
        position: relative;
        padding: {
          left: 7%;
        }
        font : {
          weight: bold;
        }
        span {
          width: max-content;
          height: max-content;
          position: absolute;
          top: 0%;
          left: 60%;
          display: flex;
          align-items: center;
          justify-content: center;
          font : {
            size: 2rem;
            weight: bold;
          }
        }
      }
    }
    .landing__imageContainer {
      width: 47%;
      height: 484px;
      position: relative;
      z-index: 1;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      &::after {
        width: 297px;
        height: 228px;
        position: absolute;
        z-index: -1;
        background-color: teal;
        content: "";
        top: -5%;
        left: -5%;
      }
      img {
        width: 100%;
        height: 100%;
        position: relative;
      }
    }
  }
}
// ******** FOR CHANGE COLUMNS OF LEVEL DESCRITION
.levelCount4 {
  .part {
    height: 20% !important;
  }
}
// ******** FOR CHANGE COLUMNS OF LEVEL DESCRITION
//*******************************************************
// ******** FOR CHANGE MARGIN AND JUSTIFY OF LEVEL DESCRIPTION
.level3Stick {
  justify-content: flex-start !important;
  .part {
    height: 20% !important;
    margin: {
      top: 7%;
    }
  }
  .part:first-child {
    margin-top: 0;
  }
}
// ******** FOR CHANGE MARGIN AND JUSTIFY OF LEVEL DESCRIPTION

@media screen and (max-width: 400px) {
  .landing {
    width: 100%;
    height: max-content;
    background: none;
    position: relative;
    .header__logo {
      display: none !important;
    }
    #hamburgerMenuContainer {
      width: 100vw;
      height: 100vh;
      background: rgba(0, 0, 0, 0.72);
      position: fixed;
      z-index: -50;
      transition: 1s all ease;
      opacity: 0;
      top: 0;
      left: 0;
      margin: {
        top: -1rem;
      }
      .hamburgerMenuContainer__linksMasterContaier {
        width: 80%;
        height: 100%;
        background-color: #fff;
        position: relative;
        left: -80vw;
        opacity: 0;
        transition: 1s all ease;
        transition: 1s left ease;
        visibility: hidden;
      }
    }
    .landing__navBar {
      width: 100%;
      height: 7vh;
      top: 0;
      background : {
        image: url("../images/landing-section/bg.png");
        position: center;
        size: cover;
        repeat: no-repeat;
      }
      box : {
        sizing: border-box;
      }
      padding: {
        left: 5%;
      }
    }
    .loadigContainer {
      width: 100%;
      height: max-content;
      flex-direction: column;
      .landing__contents {
        width: 100%;
        height: max-content;

        box-sizing: border-box;
        padding: 1rem;
        .loading__contents__bigText {
          width: 100%;
          height: max-content;
          line-height: 50px;
          font : {
            size: 2.7rem;
            weight: bold;
            family: Montserrat-bold;
          }
        }
        .loading__contents__text {
          width: 100%;
          height: max-content;
          line-height: 20px;
          margin: {
            top: 2rem;
          }
          font : {
            family: Montserrat;
            style: normal;
            weight: 500;
            size: 16px;
          }
        }
        .btn {
          width: 170px;
          height: 40px;
          margin: {
            top: 2rem;
          }
        }
      }
      .landing__imageContainer {
        width: 95%;
        height: 338px;
        &::after {
          width: 110%;
          height: 228px;
          top: 57px;
          left: -5%;
        }
      }
    }
  }
}
