.landing {
  width: 100%;
  height: 70vh;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-image: url("../images/landing-section/bg.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.landing .landing__navBar {
  width: 70vw;
  height: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  top: 1vh;
}

.landing .landing__navBar .header__logo {
  width: 10%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.landing .landing__navBar .hamburgerMenu {
  width: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  line-height: 0.3;
}

.landing .landing__navBar .header__items {
  width: 70%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.landing .landing__navBar .header__items .header__items__links {
  width: 70%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.landing .landing__navBar .header__items .btn {
  width: 20%;
  height: 70%;
  background-color: teal;
  color: #fff;
}

.landing .loadigContainer {
  width: 70%;
  height: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.landing .loadigContainer .landing__contents {
  width: 45%;
  height: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.landing .loadigContainer .landing__contents .loading__contents__bigText {
  width: 50%;
  height: 50%;
  text-align: justify;
  font-size: 4rem;
}

.landing .loadigContainer .landing__contents .loading__contents__text {
  width: 75%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  text-align: left;
  color: #666666;
  font-size: 18px;
  font-weight: 500;
}

.landing .loadigContainer .landing__contents .btn {
  width: 229px;
  height: 46px;
  background-color: teal;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  padding-left: 7%;
  font-weight: bold;
}

.landing .loadigContainer .landing__contents .btn span {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  position: absolute;
  top: 0%;
  left: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 2rem;
  font-weight: bold;
}

.landing .loadigContainer .landing__imageContainer {
  width: 47%;
  height: 484px;
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.landing .loadigContainer .landing__imageContainer::after {
  width: 297px;
  height: 228px;
  position: absolute;
  z-index: -1;
  background-color: teal;
  content: "";
  top: -5%;
  left: -5%;
}

.landing .loadigContainer .landing__imageContainer img {
  width: 100%;
  height: 100%;
  position: relative;
}

.levelCount4 .part {
  height: 20% !important;
}

.level3Stick {
  -webkit-box-pack: start !important;
      -ms-flex-pack: start !important;
          justify-content: flex-start !important;
}

.level3Stick .part {
  height: 20% !important;
  margin-top: 7%;
}

.level3Stick .part:first-child {
  margin-top: 0;
}

@media screen and (max-width: 400px) {
  .landing {
    width: 100%;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    background: none;
    position: relative;
  }
  .landing .header__logo {
    display: none !important;
  }
  .landing #hamburgerMenuContainer {
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.72);
    position: fixed;
    z-index: -50;
    -webkit-transition: 1s all ease;
    transition: 1s all ease;
    opacity: 0;
    top: 0;
    left: 0;
    margin-top: -1rem;
  }
  .landing #hamburgerMenuContainer .hamburgerMenuContainer__linksMasterContaier {
    width: 80%;
    height: 100%;
    background-color: #fff;
    position: relative;
    left: -80vw;
    opacity: 0;
    -webkit-transition: 1s all ease;
    transition: 1s all ease;
    -webkit-transition: 1s left ease;
    transition: 1s left ease;
    visibility: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .landing #hamburgerMenuContainer .hamburgerMenuContainer__linksMasterContaier .logo {
    background-image: url("../../images/landing-section/bg.png");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 56px;
    color: #000;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding-left: 1rem;
    padding-top: 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    font-size: 20px;
    position: relative;
  }
  .landing #hamburgerMenuContainer .hamburgerMenuContainer__linksMasterContaier .logo .closeBtn {
    width: 2rem;
    height: 2rem;
    position: absolute;
    right: 5%;
    top: 35%;
  }
  .landing #hamburgerMenuContainer .hamburgerMenuContainer__linksMasterContaier .links {
    width: 100%;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .landing #hamburgerMenuContainer .hamburgerMenuContainer__linksMasterContaier .links a {
    width: 100%;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    width: 288px;
    height: 40px;
    padding-top: 0.3rem;
    padding-left: 0.4rem;
    line-height: 40px;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
  }
  .landing #hamburgerMenuContainer .hamburgerMenuContainer__linksMasterContaier .active {
    background: #dddddd21;
  }
  .landing #hamburgerMenuContainer .hamburgerMenuContainer__linksMasterContaier .reg-btn {
    width: 100%;
    height: 44px;
    background: #0d6b6a;
    position: absolute;
    bottom: 0;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #ffffff;
  }
  .landing .landing__navBar {
    width: 100%;
    height: 7vh;
    top: 0;
    background-image: url("../images/landing-section/bg.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding-left: 5%;
  }
  .landing .loadigContainer {
    width: 100%;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .landing .loadigContainer .landing__contents {
    width: 100%;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 1rem;
  }
  .landing .loadigContainer .landing__contents .loading__contents__bigText {
    width: 100%;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    line-height: 50px;
    font-size: 2.7rem;
    font-weight: bold;
    font-family: Montserrat-bold;
  }
  .landing .loadigContainer .landing__contents .loading__contents__text {
    width: 100%;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    line-height: 20px;
    margin-top: 2rem;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
  }
  .landing .loadigContainer .landing__contents .btn {
    width: 170px;
    height: 40px;
    margin-top: 2rem;
  }
  .landing .loadigContainer .landing__imageContainer {
    width: 95%;
    height: 338px;
  }
  .landing .loadigContainer .landing__imageContainer::after {
    width: 100%;
    height: 228px;
    top: 57px;
    left: -5%;
  }
}
/*# sourceMappingURL=landing.css.map */