@font-face {
  font-family: Montserrat;
  src: url("../fonts/Montserrat-Regular.ttf");
}
@font-face {
  font-family: Montserrat-semi-bold;
  src: url("../fonts/Montserrat-SemiBold.ttf");
}
@font-face {
  font-family: Montserrat-bold;
  src: url("../fonts/Montserrat-Bold.ttf");
}
* {
  padding: 0;
  margin: 0;
  outline: 0;
  border: 0;
  a {
    color: #000;
    &:hover,
    &:active,
    &:visited {
      color: #000;
    }
    text : {
      decoration: none;
    }
  }
}
main {
  .landing {
    width: 100%;
    height: 70vh;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    background : {
      image: url("../images/landing-section/bg.png");
      position: center;
      size: cover;
      repeat: no-repeat;
    }

    .landing__navBar {
      width: 70vw;
      height: 10%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      position: relative;
      top: 1vh;
      .header__logo {
        width: 10%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
      }
      .hamburgerMenu {
        width: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        line-height: 0.3;
      }
      .header__items {
        width: 70%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .header__items__links {
          width: 70%;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: space-between;
        }
        .btn {
          width: 20%;
          height: 70%;
          background-color: teal;
          color: #fff;
        }
      }
    }
    .loadigContainer {
      width: 70vw;
      height: 90%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      position: relative;
      .landing__contents {
        width: 45%;
        height: 80%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;

        .loading__contents__bigText {
          width: 50%;
          height: 50%;
          text-align: justify;
          font : {
            size: 4rem;
          }
        }
        .loading__contents__text {
          width: 75%;
          height: max-content;
          text-align: left;
          color: #666666;
          font : {
            size: 18px;
            weight: 500;
          }
        }
        .btn {
          width: 229px;
          height: 46px;
          background-color: teal;
          color: #fff;
          display: flex;
          justify-content: flex-start;
          align-items: center;
          box-sizing: border-box;
          position: relative;
          padding: {
            left: 7%;
          }
          font : {
            weight: bold;
          }
          span {
            width: max-content;
            height: max-content;
            position: absolute;
            top: 0%;
            left: 60%;
            display: flex;
            align-items: center;
            justify-content: center;
            font : {
              size: 2rem;
              weight: bold;
            }
          }
        }
      }
      .landing__imageContainer {
        width: 470px;
        height: 484px;
        position: relative;
        z-index: 1;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        &::after {
          width: 297px;
          height: 228px;
          position: absolute;
          z-index: -1;
          background-color: teal;
          content: "";
          top: -5%;
          left: -5%;
        }
        img {
          width: 100%;
          height: 100%;
          position: relative;
        }
      }
    }
  }

  .humanResouresContainer {
    width: 100%;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    .humanResouresContainer__aboutTeam {
      width: 60%;
      height: 70%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      .humanResouresContainer__aboutTeam__about {
        width: 100%;
        height: 10%;
        display: flex;
        align-items: center;
        span {
          &:first-of-type {
            margin-right: 1rem;
            color: teal;
            font : {
              size: 2rem;
            }
          }
        }
        span {
          font : {
            weight: bold;
          }
          &:nth-child(2) {
            font : {
              family: Montserrat-semi-bold;
              weight: bold;
              size: 2rem;
            }
          }
        }
      }
      .humanResouresContainer__aboutTeam__picturesAndContents {
        width: 100%;
        height: 82%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .aboutNumberOfHumans {
          width: 40%;
          height: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
          background-color: teal;
          .topNumberContainer {
            width: 100%;
            height: 70%;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            box-sizing: border-box;
            padding: 2rem;
            color: teal;
            text-shadow: -3px 1px #fff, 1px 3px #fff, 3px 1px #fff,
              1px -3px #fff;
            font : {
              family: Montserrat;
              size: 13rem;
            }
          }
          p {
            width: 80%;
            height: 20%;
            color: #fff;
            font : {
              family: Montserrat-bold;
              weight: bold;
              size: 1.5rem;
            }
          }
        }
        .humansPictureContainerMaster {
          width: 60%;
          height: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: space-between;
          .top,
          .bottom {
            width: 100%;
            height: 50%;
            display: flex;
            align-items: center;
            .humansPictureContainer__humanPicture {
              width: 100%;
              height: 100%;
              position: relative;
              img {
                width: 100%;
                height: 100%;
              }
              &::before {
                width: 100%;
                height: 100%;
                content: attr(data-name);
                position: absolute;
                top: 0;
                left: 0;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: flex-end;
                box-sizing: border-box;
                transition: 0.2s ease;
                padding: {
                  left: 10%;
                  bottom: 20%;
                }
                z-index: 37;
                color: #fff;
                font : {
                  size: 18px;
                  family: Montserrat-bold;
                }
                opacity: 0;
              }
              &::after {
                width: 100%;
                height: 100%;
                content: attr(data-job);
                position: absolute;
                z-index: 36;
                top: 0;
                left: 0;
                transition: 0.2s ease;
                opacity: 0;
                box-sizing: border-box;
                padding: {
                  left: 10%;
                  top: 70%;
                }
                color: rgba(255, 255, 255, 0.699);
                font : {
                  size: 14px;
                  family: Montserrat-bold;
                }
              }
              &:hover {
                &::after {
                  opacity: 1;
                  background-color: rgba(0, 128, 128, 0.432);
                }
                &::before {
                  opacity: 1;
                }
              }
            }
          }
        }
      }
    }
  }

  .customerCommentsContainerMaster {
    width: 100%;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    .btn-container {
      width: 5rem;
      height: 3rem;
      position: absolute;
      left: 20%;
      bottom: 2%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      button {
        width: calc(50% - 0.4rem);
        height: calc(100% - 0.4rem);
        background-color: teal;
        color: #fff;
        font : {
          size: 2rem;
          weight: bold;
          family: Montserrat;
        }
      }
    }
    .mainContainer {
      width: 60%;
      height: 70%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      .customerCommentsSlideContainer__aboutTeam__about {
        width: 100%;
        height: 10%;
        display: flex;
        align-items: center;
        span {
          &:first-of-type {
            margin-right: 1rem;
            color: teal;
            font : {
              size: 2rem;
            }
          }
        }
        span {
          font : {
            weight: bold;
          }
          &:nth-child(2) {
            font : {
              family: Montserrat-semi-bold;
              weight: bold;
              size: 2rem;
            }
          }
        }
      }
      .customers_comment {
        width: 100%;
        height: 70%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .item {
          width: 23%;
          height: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: space-between;
          box-shadow: 0px 0px 30px rgba(13, 107, 106, 0.2);
          box-sizing: border-box;
          padding: 1rem;
          transition: transform 0.3s ease;
          .swiper-slide {
            width: 23% !important;
          }
          &:hover {
            transform: scale(1.1);
          }
          .top {
            width: 100%;
            height: 40%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            .left {
              width: 25%;
              height: 50%;
              display: flex;
              align-items: center;
              justify-content: center;
              img {
                width: 100%;
                height: 100%;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
              }
            }
            .right {
              width: 60%;
              height: 50%;
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: center;
              .name {
                width: 100%;
                height: 50%;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                font : {
                  size: 1.2rem;
                }
              }
              .groupName {
                width: 100%;
                height: 10%;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                font : {
                  size: 1.2rem;
                }
              }
            }
          }
          .bottom {
            width: 100%;
            height: 50%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            position: relative;
            .text {
              width: 100%;
              height: 100%;
            }
            .stars {
              cursor: pointer;
              display: flex;
              position: absolute;
              bottom: 0.5rem;
              left: 0%;
            }
          }
        }
      }
    }
  }

  .workProcess {
    width: 100%;
    height: 110vh;
    background: {
      image: url("../images/Fourth/bg.png");
      position: center;
      size: cover;
      repeat: no-repeat;
    }
    display: flex;
    align-items: center;
    justify-content: center;
    .workProcessInnerContainer {
      width: 80%;
      height: 90%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      .top {
        width: 100%;
        height: 10%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        .workProcess__aboutTeam__about {
          width: 100%;
          height: 10%;
          display: flex;
          align-items: center;
          justify-content: flex-start;
          span {
            &:first-of-type {
              margin-right: 1rem;
              color: teal;
              font : {
                size: 2rem;
              }
            }
          }
          span {
            font : {
              weight: bold;
            }
            &:nth-child(2) {
              font : {
                family: Montserrat-semi-bold;
                weight: bold;
                size: 2rem;
              }
            }
          }
        }
      }
      .bottomInnerItems {
        width: 100%;
        height: 89%;
        display: flex;
        flex-direction: column;
        align-content: center;
        .levelsContainer {
          width: 100%;
          height: 10%;
          display: flex;
          align-items: center;
          justify-content: space-between;
          .level {
          }
        }
        .levelDescriptionContainer {
          width: 100%;
          height: 90%;
          display: flex;
          align-items: center;
          justify-content: space-between;
          .levelContainer {
            width: 30%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            .part {
              width: 100%;
              height: 20%;
              .top {
                width: 100%;
                height: 15%;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                .boxi {
                  width: 5%;
                  height: 100%;
                  background-color: teal;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  .innerBox {
                    width: 50%;
                    height: 50%;
                    background-color: #fff;
                  }
                }
                .content {
                  font : {
                    weight: bold;
                    family: Montserrat-bold;
                  }
                  margin: {
                    left: 1rem;
                  }
                }
              }
              .bottom {
                width: 100%;
                height: 82%;
                margin: {
                  top: 3%;
                }
                border-left: 1px solid #ccc;
                box-sizing: border-box;
                padding: 0.3rem;
                padding: {
                  left: 1rem;
                }
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;
                .tx {
                  width: 100%;
                  height: 25%;
                  display: flex;
                  align-items: center;
                  justify-content: flex-start;
                  font : {
                    family: Montserrat;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  // ******** FOR CHANGE COLUMNS OF LEVEL DESCRITION
  .levelCount4 {
    .part {
      height: 20% !important;
    }
  }
  // ******** FOR CHANGE COLUMNS OF LEVEL DESCRITION
  //*******************************************************
  // ******** FOR CHANGE MARGIN AND JUSTIFY OF LEVEL DESCRIPTION
  .level3Stick {
    justify-content: flex-start !important;
    .part {
      height: 20% !important;
      margin: {
        top: 7%;
      }
    }
    .part:first-child {
      margin-top: 0;
    }
  }
  // ******** FOR CHANGE MARGIN AND JUSTIFY OF LEVEL DESCRIPTION
}

footer {
  width: 100%;
  height: 50vh;
  background-color: #0d6b6a;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  .line {
    width: 99%;
    height: 50%;
    top: 5vh;

    position: absolute;
  }
  .footer__top {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    box-sizing: border-box;
    padding: {
      top: 5vh;
    }
    h1 {
      color: #fff;
      font : {
        size: 28px;
        family: Montserrat;
      }
    }
    p {
      width: 770px;
      height: 40px;
      font-family: Montserrat;
      font-size: 14px;
      font-weight: 500;
      line-height: 20px;
      text-align: justify;
      color: #dddddd;
      font : {
        family: Montserrat;
      }
    }
    .top__iconsContainer {
      width: 10%;
      height: 3rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    a {
      width: 2rem;
      height: 2rem;
      border-radius: 50%;
      background-color: rgba(255, 255, 255, 0.2);
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  .footer__bottom {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    .linksContainer {
      width: 50%;
      height: 3rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      a {
        color: #ffffff;
        font : {
          size: 18px;
          weight: 500;
          family: Montserrat;
          style: normal;
        }
        line-height: 20px;
      }
    }
    .contactsInfo {
      width: 20%;
      height: 10rem;
      align-self: flex-start;
      margin: {
        left: 25%;
      }
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      .contactItem {
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
      }
      img {
        width: 20px;
        height: 20px;
      }
    }
  }
}
