@font-face {
  font-family: Montserrat;
  src: url("../fonts/Montserrat-Regular.ttf");
}

@font-face {
  font-family: Montserrat-semi-bold;
  src: url("../fonts/Montserrat-SemiBold.ttf");
}

@font-face {
  font-family: Montserrat-bold;
  src: url("../fonts/Montserrat-Bold.ttf");
}

* {
  padding: 0;
  margin: 0;
  outline: 0;
  border: 0;
}

* a {
  color: #000;
  text-decoration: none;
}

* a:hover, * a:active, * a:visited {
  color: #000;
}

main .landing {
  width: 100%;
  height: 70vh;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-image: url("../images/landing-section/bg.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

main .landing .landing__navBar {
  width: 70vw;
  height: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  top: 1vh;
}

main .landing .landing__navBar .header__logo {
  width: 10%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

main .landing .landing__navBar .hamburgerMenu {
  width: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  line-height: 0.3;
}

main .landing .landing__navBar .header__items {
  width: 70%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .landing .landing__navBar .header__items .header__items__links {
  width: 70%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .landing .landing__navBar .header__items .btn {
  width: 20%;
  height: 70%;
  background-color: teal;
  color: #fff;
}

main .landing .loadigContainer {
  width: 70vw;
  height: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

main .landing .loadigContainer .landing__contents {
  width: 45%;
  height: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .landing .loadigContainer .landing__contents .loading__contents__bigText {
  width: 50%;
  height: 50%;
  text-align: justify;
  font-size: 4rem;
}

main .landing .loadigContainer .landing__contents .loading__contents__text {
  width: 75%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  text-align: left;
  color: #666666;
  font-size: 18px;
  font-weight: 500;
}

main .landing .loadigContainer .landing__contents .btn {
  width: 229px;
  height: 46px;
  background-color: teal;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  padding-left: 7%;
  font-weight: bold;
}

main .landing .loadigContainer .landing__contents .btn span {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  position: absolute;
  top: 0%;
  left: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 2rem;
  font-weight: bold;
}

main .landing .loadigContainer .landing__imageContainer {
  width: 470px;
  height: 484px;
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

main .landing .loadigContainer .landing__imageContainer::after {
  width: 297px;
  height: 228px;
  position: absolute;
  z-index: -1;
  background-color: teal;
  content: "";
  top: -5%;
  left: -5%;
}

main .landing .loadigContainer .landing__imageContainer img {
  width: 100%;
  height: 100%;
  position: relative;
}

main .humanResouresContainer {
  width: 100%;
  height: 70vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .humanResouresContainer .humanResouresContainer__aboutTeam {
  width: 60%;
  height: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .humanResouresContainer .humanResouresContainer__aboutTeam .humanResouresContainer__aboutTeam__about {
  width: 100%;
  height: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .humanResouresContainer .humanResouresContainer__aboutTeam .humanResouresContainer__aboutTeam__about span:first-of-type {
  margin-right: 1rem;
  color: teal;
  font-size: 2rem;
}

main .humanResouresContainer .humanResouresContainer__aboutTeam .humanResouresContainer__aboutTeam__about span {
  font-weight: bold;
}

main .humanResouresContainer .humanResouresContainer__aboutTeam .humanResouresContainer__aboutTeam__about span:nth-child(2) {
  font-family: Montserrat-semi-bold;
  font-weight: bold;
  font-size: 2rem;
}

main .humanResouresContainer .humanResouresContainer__aboutTeam .humanResouresContainer__aboutTeam__picturesAndContents {
  width: 100%;
  height: 82%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .humanResouresContainer .humanResouresContainer__aboutTeam .humanResouresContainer__aboutTeam__picturesAndContents .aboutNumberOfHumans {
  width: 40%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: teal;
}

main .humanResouresContainer .humanResouresContainer__aboutTeam .humanResouresContainer__aboutTeam__picturesAndContents .aboutNumberOfHumans .topNumberContainer {
  width: 100%;
  height: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 2rem;
  color: teal;
  text-shadow: -3px 1px #fff, 1px 3px #fff, 3px 1px #fff, 1px -3px #fff;
  font-family: Montserrat;
  font-size: 13rem;
}

main .humanResouresContainer .humanResouresContainer__aboutTeam .humanResouresContainer__aboutTeam__picturesAndContents .aboutNumberOfHumans p {
  width: 80%;
  height: 20%;
  color: #fff;
  font-family: Montserrat-bold;
  font-weight: bold;
  font-size: 1.5rem;
}

main .humanResouresContainer .humanResouresContainer__aboutTeam .humanResouresContainer__aboutTeam__picturesAndContents .humansPictureContainerMaster {
  width: 60%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .humanResouresContainer .humanResouresContainer__aboutTeam .humanResouresContainer__aboutTeam__picturesAndContents .humansPictureContainerMaster .top,
main .humanResouresContainer .humanResouresContainer__aboutTeam .humanResouresContainer__aboutTeam__picturesAndContents .humansPictureContainerMaster .bottom {
  width: 100%;
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .humanResouresContainer .humanResouresContainer__aboutTeam .humanResouresContainer__aboutTeam__picturesAndContents .humansPictureContainerMaster .top .humansPictureContainer__humanPicture,
main .humanResouresContainer .humanResouresContainer__aboutTeam .humanResouresContainer__aboutTeam__picturesAndContents .humansPictureContainerMaster .bottom .humansPictureContainer__humanPicture {
  width: 100%;
  height: 100%;
  position: relative;
}

main .humanResouresContainer .humanResouresContainer__aboutTeam .humanResouresContainer__aboutTeam__picturesAndContents .humansPictureContainerMaster .top .humansPictureContainer__humanPicture img,
main .humanResouresContainer .humanResouresContainer__aboutTeam .humanResouresContainer__aboutTeam__picturesAndContents .humansPictureContainerMaster .bottom .humansPictureContainer__humanPicture img {
  width: 100%;
  height: 100%;
}

main .humanResouresContainer .humanResouresContainer__aboutTeam .humanResouresContainer__aboutTeam__picturesAndContents .humansPictureContainerMaster .top .humansPictureContainer__humanPicture::before,
main .humanResouresContainer .humanResouresContainer__aboutTeam .humanResouresContainer__aboutTeam__picturesAndContents .humansPictureContainerMaster .bottom .humansPictureContainer__humanPicture::before {
  width: 100%;
  height: 100%;
  content: attr(data-name);
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
  padding-left: 10%;
  padding-bottom: 20%;
  z-index: 37;
  color: #fff;
  font-size: 18px;
  font-family: Montserrat-bold;
  opacity: 0;
}

main .humanResouresContainer .humanResouresContainer__aboutTeam .humanResouresContainer__aboutTeam__picturesAndContents .humansPictureContainerMaster .top .humansPictureContainer__humanPicture::after,
main .humanResouresContainer .humanResouresContainer__aboutTeam .humanResouresContainer__aboutTeam__picturesAndContents .humansPictureContainerMaster .bottom .humansPictureContainer__humanPicture::after {
  width: 100%;
  height: 100%;
  content: attr(data-job);
  position: absolute;
  z-index: 36;
  top: 0;
  left: 0;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
  opacity: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-left: 10%;
  padding-top: 70%;
  color: rgba(255, 255, 255, 0.699);
  font-size: 14px;
  font-family: Montserrat-bold;
}

main .humanResouresContainer .humanResouresContainer__aboutTeam .humanResouresContainer__aboutTeam__picturesAndContents .humansPictureContainerMaster .top .humansPictureContainer__humanPicture:hover::after,
main .humanResouresContainer .humanResouresContainer__aboutTeam .humanResouresContainer__aboutTeam__picturesAndContents .humansPictureContainerMaster .bottom .humansPictureContainer__humanPicture:hover::after {
  opacity: 1;
  background-color: rgba(0, 128, 128, 0.432);
}

main .humanResouresContainer .humanResouresContainer__aboutTeam .humanResouresContainer__aboutTeam__picturesAndContents .humansPictureContainerMaster .top .humansPictureContainer__humanPicture:hover::before,
main .humanResouresContainer .humanResouresContainer__aboutTeam .humanResouresContainer__aboutTeam__picturesAndContents .humansPictureContainerMaster .bottom .humansPictureContainer__humanPicture:hover::before {
  opacity: 1;
}

main .customerCommentsContainerMaster {
  width: 100%;
  height: 70vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

main .customerCommentsContainerMaster .btn-container {
  width: 5rem;
  height: 3rem;
  position: absolute;
  left: 20%;
  bottom: 2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .customerCommentsContainerMaster .btn-container button {
  width: calc(50% - 0.4rem);
  height: calc(100% - 0.4rem);
  background-color: teal;
  color: #fff;
  font-size: 2rem;
  font-weight: bold;
  font-family: Montserrat;
}

main .customerCommentsContainerMaster .mainContainer {
  width: 60%;
  height: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .customerCommentsContainerMaster .mainContainer .customerCommentsSlideContainer__aboutTeam__about {
  width: 100%;
  height: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .customerCommentsContainerMaster .mainContainer .customerCommentsSlideContainer__aboutTeam__about span:first-of-type {
  margin-right: 1rem;
  color: teal;
  font-size: 2rem;
}

main .customerCommentsContainerMaster .mainContainer .customerCommentsSlideContainer__aboutTeam__about span {
  font-weight: bold;
}

main .customerCommentsContainerMaster .mainContainer .customerCommentsSlideContainer__aboutTeam__about span:nth-child(2) {
  font-family: Montserrat-semi-bold;
  font-weight: bold;
  font-size: 2rem;
}

main .customerCommentsContainerMaster .mainContainer .customers_comment {
  width: 100%;
  height: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .customerCommentsContainerMaster .mainContainer .customers_comment .item {
  width: 23%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-shadow: 0px 0px 30px rgba(13, 107, 106, 0.2);
          box-shadow: 0px 0px 30px rgba(13, 107, 106, 0.2);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 1rem;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

main .customerCommentsContainerMaster .mainContainer .customers_comment .item .swiper-slide {
  width: 23% !important;
}

main .customerCommentsContainerMaster .mainContainer .customers_comment .item:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

main .customerCommentsContainerMaster .mainContainer .customers_comment .item .top {
  width: 100%;
  height: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .customerCommentsContainerMaster .mainContainer .customers_comment .item .top .left {
  width: 25%;
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .customerCommentsContainerMaster .mainContainer .customers_comment .item .top .left img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .customerCommentsContainerMaster .mainContainer .customers_comment .item .top .right {
  width: 60%;
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .customerCommentsContainerMaster .mainContainer .customers_comment .item .top .right .name {
  width: 100%;
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  font-size: 1.2rem;
}

main .customerCommentsContainerMaster .mainContainer .customers_comment .item .top .right .groupName {
  width: 100%;
  height: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  font-size: 1.2rem;
}

main .customerCommentsContainerMaster .mainContainer .customers_comment .item .bottom {
  width: 100%;
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

main .customerCommentsContainerMaster .mainContainer .customers_comment .item .bottom .text {
  width: 100%;
  height: 100%;
}

main .customerCommentsContainerMaster .mainContainer .customers_comment .item .bottom .stars {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  bottom: 0.5rem;
  left: 0%;
}

main .workProcess {
  width: 100%;
  height: 110vh;
  background-image: url("../images/Fourth/bg.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .workProcess .workProcessInnerContainer {
  width: 80%;
  height: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .workProcess .workProcessInnerContainer .top {
  width: 100%;
  height: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

main .workProcess .workProcessInnerContainer .top .workProcess__aboutTeam__about {
  width: 100%;
  height: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

main .workProcess .workProcessInnerContainer .top .workProcess__aboutTeam__about span:first-of-type {
  margin-right: 1rem;
  color: teal;
  font-size: 2rem;
}

main .workProcess .workProcessInnerContainer .top .workProcess__aboutTeam__about span {
  font-weight: bold;
}

main .workProcess .workProcessInnerContainer .top .workProcess__aboutTeam__about span:nth-child(2) {
  font-family: Montserrat-semi-bold;
  font-weight: bold;
  font-size: 2rem;
}

main .workProcess .workProcessInnerContainer .bottomInnerItems {
  width: 100%;
  height: 89%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
}

main .workProcess .workProcessInnerContainer .bottomInnerItems .levelsContainer {
  width: 100%;
  height: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .workProcess .workProcessInnerContainer .bottomInnerItems .levelDescriptionContainer {
  width: 100%;
  height: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .workProcess .workProcessInnerContainer .bottomInnerItems .levelDescriptionContainer .levelContainer {
  width: 30%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .workProcess .workProcessInnerContainer .bottomInnerItems .levelDescriptionContainer .levelContainer .part {
  width: 100%;
  height: 20%;
}

main .workProcess .workProcessInnerContainer .bottomInnerItems .levelDescriptionContainer .levelContainer .part .top {
  width: 100%;
  height: 15%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

main .workProcess .workProcessInnerContainer .bottomInnerItems .levelDescriptionContainer .levelContainer .part .top .boxi {
  width: 5%;
  height: 100%;
  background-color: teal;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .workProcess .workProcessInnerContainer .bottomInnerItems .levelDescriptionContainer .levelContainer .part .top .boxi .innerBox {
  width: 50%;
  height: 50%;
  background-color: #fff;
}

main .workProcess .workProcessInnerContainer .bottomInnerItems .levelDescriptionContainer .levelContainer .part .top .content {
  font-weight: bold;
  font-family: Montserrat-bold;
  margin-left: 1rem;
}

main .workProcess .workProcessInnerContainer .bottomInnerItems .levelDescriptionContainer .levelContainer .part .bottom {
  width: 100%;
  height: 82%;
  margin-top: 3%;
  border-left: 1px solid #ccc;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0.3rem;
  padding-left: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .workProcess .workProcessInnerContainer .bottomInnerItems .levelDescriptionContainer .levelContainer .part .bottom .tx {
  width: 100%;
  height: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  font-family: Montserrat;
}

main .levelCount4 .part {
  height: 20% !important;
}

main .level3Stick {
  -webkit-box-pack: start !important;
      -ms-flex-pack: start !important;
          justify-content: flex-start !important;
}

main .level3Stick .part {
  height: 20% !important;
  margin-top: 7%;
}

main .level3Stick .part:first-child {
  margin-top: 0;
}

footer {
  width: 100%;
  height: 50vh;
  background-color: #0d6b6a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

footer .line {
  width: 99%;
  height: 50%;
  top: 5vh;
  position: absolute;
}

footer .footer__top {
  width: 100%;
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 5vh;
}

footer .footer__top h1 {
  color: #fff;
  font-size: 28px;
  font-family: Montserrat;
}

footer .footer__top p {
  width: 770px;
  height: 40px;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  text-align: justify;
  color: #dddddd;
  font-family: Montserrat;
}

footer .footer__top .top__iconsContainer {
  width: 10%;
  height: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .footer__top a {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .footer__bottom {
  width: 100%;
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .footer__bottom .linksContainer {
  width: 50%;
  height: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .footer__bottom .linksContainer a {
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
  font-family: Montserrat;
  font-style: normal;
  line-height: 20px;
}

footer .footer__bottom .contactsInfo {
  width: 20%;
  height: 10rem;
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-left: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .footer__bottom .contactsInfo .contactItem {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

footer .footer__bottom .contactsInfo img {
  width: 20px;
  height: 20px;
  margin-right: 1rem;
}
/*# sourceMappingURL=main.css.map */